.tag {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  max-width: 12.1rem;
  padding: 6px 4px;
  &.blue-tag {
    .icon {
      background-color: rgba(63, 104, 186, 0.15);
    }
    span {
      color: #3f67ba;
    }
  }
  .icon {
    width: 2.6rem;
    height: 2.6rem;
    background: rgba(194, 0, 0, 0.2);
    border-radius: 50%;
    @include centerTotalFlex;
    margin-right: 0.8rem;
  }
  span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
    color: #c20001;
  }
}
.search {
  background: #ffffff;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  border-radius: 12.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.7rem;
  input[type="text"] {
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    border: 0;
    outline: none;
    line-height: 150%;
    color: #7a7d80;
    &::placeholder {
      color: #a0afba;
    }
  }
  button {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(158, 185, 225, 0.1);
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: #3e75c3;
    }
    @include centerTotalFlex;
  }
}
.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 1.5rem;
  }
  span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
  }
  &.ghost {
    span {
      color: #616eb7;
    }
  }
  &.bug {
    span {
      color: #9bba48;
    }
  }
  &.dark {
    span {
      color: #595761;
    }
  }
  &.dragon {
    span {
      color: #2c6ac1;
    }
  }
  &.electric {
    span {
      color: #eed967;
    }
  }
  &.fairy {
    span {
      color: #e296e1;
    }
  }
  &.fighting {
    span {
      color: #c44d61;
    }
  }
  &.ground {
    span {
      color: #ce8056;
    }
  }
  &.ice {
    span {
      color: #8bcec1;
    }
  }
  &.normal {
    span {
      color: #a0a29f;
    }
  }
  &.poison {
    span {
      color: #ac6aca;
    }
  }
  &.psychic {
    span {
      color: #eb8b85;
    }
  }
  &.rock {
    span {
      color: #8bcec1;
    }
  }
  &.grass {
    span {
      color: #73b861;
    }
  }
  &.steel {
    span {
      color: #6594a1;
    }
  }
  &.water {
    span {
      color: #88a3d4;
    }
  }
  &.fire {
    span {
      color: #f66d6d;
    }
  }
  &.flying {
    span {
      color: #a6bbe8;
    }
  }
}
.card-pokemon {
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 12px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  }
  &.grass {
    .image {
      &:after {
        background-color: rgba(114, 184, 97, 0.2);
      }
    }
  }
  &.bug {
    .image {
      &:after {
        background-color: rgba(156, 186, 72, 0.2);
      }
    }
  }
  &.dark {
    .image {
      &:after {
        background-color: rgba(89, 87, 97, 0.2);
      }
    }
  }
  &.dragon {
    .image {
      &:after {
        background-color: rgba(44, 106, 193, 0.2);
      }
    }
  }
  &.electric {
    .image {
      &:after {
        background-color: rgba(238, 218, 103, 0.2);
      }
    }
  }
  &.fairy {
    .image {
      &:after {
        background-color: rgba(226, 150, 225, 0.2);
      }
    }
  }
  &.fighting {
    .image {
      &:after {
        background-color: rgba(196, 77, 97, 0.2);
      }
    }
  }
  &.ground {
    .image {
      &:after {
        background-color: rgba(206, 128, 86, 0.2);
      }
    }
  }
  &.ice {
    .image {
      &:after {
        background-color: rgba(139, 206, 193, 0.2);
      }
    }
  }
  &.normal {
    .image {
      &:after {
        background-color: rgba(160, 162, 159, 0.2);
      }
    }
  }
  &.poison {
    .image {
      &:after {
        background-color: rgba(172, 106, 202, 0.2);
      }
    }
  }
  &.psychic {
    .image {
      &:after {
        background-color: rgba(235, 140, 133, 0.2);
      }
    }
  }
  &.rock {
    .image {
      &:after {
        background-color: rgba(139, 206, 193, 0.2);
      }
    }
  }
  &.ghost {
    .image {
      &:after {
        background-color: rgba(97, 110, 183, 0.2);
      }
    }
  }
  &.steel {
    .image {
      &:after {
        background-color: rgba(101, 148, 161, 0.2);
      }
    }
  }
  &.water {
    .image {
      &:after {
        background-color: rgba(136, 163, 212, 0.2);
      }
    }
  }
  &.fire {
    .image {
      &:after {
        background-color: rgba(246, 109, 109, 0.2);
      }
    }
  }
  &.flying {
    .image {
      &:after {
        background-color: rgba(166, 187, 232, 0.2);
      }
    }
  }
  .image {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0 auto 1.4rem auto;
    @include centerTotalFlex;
    &:after {
      content: "";
      position: absolute;
      width: 16.5rem;
      height: 16.5rem;
      border-radius: 50%;
      z-index: -1;
    }
  }
  .info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2.8rem;
    .text {
      span {
        display: block;
        text-align: left;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 150%;
        color: #7a7d80;
        margin-bottom: 0.6rem;
      }
    }
    .icon {
      margin-bottom: 1rem;
    }
  }
}
.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  &.bug {
    color: #9bba48;
    background: rgba(156, 186, 72, 0.1);
  }
  &.dark {
    color: #595761;
    background: rgba(89, 87, 97, 0.1);
  }
  &.dragon {
    color: #2c6ac1;
    background: rgba(44, 106, 193, 0.1);
  }
  &.electric {
    color: #d4bc34;
    background: rgba(212, 188, 52, 0.1);
  }
  &.fairy {
    color: #e296e1;
    background: rgba(226, 150, 225, 0.1);
  }
  &.fighting {
    color: #c44d61;
    background: rgba(196, 77, 97, 0.1);
  }
  &.ground {
    color: #ce8056;
    background: rgba(206, 128, 86, 0.1);
  }
  &.ice {
    color: #71baac;
    background: rgba(113, 186, 171, 0.1);
  }
  &.normal {
    color: #909090;
    background: rgba(144, 144, 144, 0.1);
  }
  &.poison {
    color: #ac6aca;
    background: rgba(172, 106, 202, 0.1);
  }
  &.psychic {
    color: #eb8b85;
    background: rgba(235, 140, 133, 0.1);
  }
  &.rock {
    color: #84beb3;
    background: rgba(132, 190, 179, 0.1);
  }
  &.ghost {
    color: #616eb7;
    background: rgba(97, 110, 183, 0.1);
  }
  &.grass {
    color: #73b861;
    background: rgba(114, 184, 97, 0.1);
  }
  &.steal {
    color: #6594a1;
    background: rgba(101, 148, 161, 0.1);
  }
  &.water {
    color: #4f77be;
    background: rgba(79, 120, 190, 0.1);
  }
  &.fire {
    color: #e96303;
    background: rgba(233, 99, 3, 0.1);
  }
  &.flying {
    color: #758cbd;
    background: rgba(117, 140, 189, 0.1);
  }
}
.btn-load-more {
  background-color: rgba(63, 93, 179, 0.1);
  border-radius: 6px;
  padding: 1.4rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: #3f5db3;
  transition: all 0.3s;
  &:hover {
    background-color: #3f5db3;
    color: #ffffff;
  }
}
