.tag {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  max-width: 12.1rem;
  padding: 6px 4px;
  &.blue-tag {
    .icon {
      background-color: rgba(63, 104, 186, 0.15);
    }
    span {
      color: #3f67ba;
    }
  }
  .icon {
    width: 2.6rem;
    height: 2.6rem;
    background: rgba(194, 0, 0, 0.2);
    border-radius: 50%;
    @include centerTotalFlex;
    margin-right: 0.8rem;
  }
  span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
    color: #c20001;
  }
}
.search {
  background: #ffffff;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  border-radius: 12.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.7rem;
  input[type="text"] {
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    border: 0;
    outline: none;
    line-height: 150%;
    color: #7a7d80;
    &::placeholder {
      color: #a0afba;
    }
  }
  button {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(158, 185, 225, 0.1);
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: #3e75c3;
    }
    @include centerTotalFlex;
  }
}

.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 1.5rem;
  }
  span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
  }
  &.ghost {
    span {
      color: #616eb7;
    }
  }
  &.bug {
    span {
      color: #9bba48;
    }
  }
  &.dark {
    span {
      color: #595761;
    }
  }
  &.dragon {
    span {
      color: #2c6ac1;
    }
  }
  &.electric {
    span {
      color: #eed967;
    }
  }
  &.fairy {
    span {
      color: #e296e1;
    }
  }
  &.fighting {
    span {
      color: #c44d61;
    }
  }
  &.ground {
    span {
      color: #ce8056;
    }
  }
  &.ice {
    span {
      color: #8bcec1;
    }
  }
  &.normal {
    span {
      color: #a0a29f;
    }
  }
  &.poison {
    span {
      color: #ac6aca;
    }
  }
  &.psychic {
    span {
      color: #eb8b85;
    }
  }
  &.rock {
    span {
      color: #8bcec1;
    }
  }
  &.grass {
    span {
      color: #73b861;
    }
  }
  &.steel {
    span {
      color: #6594a1;
    }
  }
  &.water {
    span {
      color: #88a3d4;
    }
  }
  &.fire {
    span {
      color: #f66d6d;
    }
  }
  &.flying {
    span {
      color: #a6bbe8;
    }
  }
}
